.container {
    width:100%;
    overflow:hidden;
}
.box {
    width:20%;
    height:150px;
    float:left;
}

.red{
    background:#FE0801;
}
.green{
    background:#35FE01;
}
.blue{
    background:#0157FE;
}
.yellow{
    background:#FEEB01;
}
.violet{
    background:#E301FE;
}
body{
    text-align: center;
    background-color: black;
}

h3, p{
    color: lightgray;
}

h2{
    color: lightgray;
}